registry=http://nexus.ph03.us/repository/npm-all/
@tmq:registry=http://nexus.ph03.us/repository/tmq-private-npm/
//nexus.ph03.us/repository/npm-all/:_authToken=NpmToken.cb3dae28-b876-3749-baed-882141b0b421
//nexus.ph03.us/repository/npm-all/:always-auth=true
//nexus.ph03.us/repository/tmq-private-npm/:_authToken=NpmToken.cb3dae28-b876-3749-baed-882141b0b421
//nexus.ph03.us/repository/tmq-private-npm/:always-auth=true